
h2 {
	margin-top: 0px;	
}


#embedded-view-container {
	 background-color: #DFEDF5;
	 padding: 10px;
}

.embedded-view-footer {
	text-align: right;	
	font-size: 10px;
    padding: 2px 5px;
}



.departures-table td.dest-col-clip, th.dest-col-clip {
    width: 120px;
}

.departures-table div.dest-col-clip {
    width: 120px;
}




