
html, body {
  	margin: 0px;
  	padding: 0px;
} 

body {
	background: none repeat scroll 0 0 #DFEDF5;
	color: #333333;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

img {
	border: none;
}

a {
	font-size: 13px;
    color: #005ABB;
    text-decoration: none;
}

a:hover {
    color: #005ABB;
    text-decoration: underline;
}

a:visited {
	/* color: #312783; */
	color: #005ABB;
    text-decoration: none;
}

.clear { clear: both; background: none; }

h1 { font-size: 36px; }

h2 { font-size: 24px; padding-left: 15px; margin-bottom: 0px;}

h3 { font-size: 20px; }

h1, h2, h3 {
	color: #007AC9;
	font-weight: normal;
	/*font-family: Gotham, “Helvetica Neue”, Helvetica, Arial, sans-serif;*/
	font-family: Verdana, Helvetica, Arial, sans-serif;
}


h4, h5 {
	font-weight: bold;
	
	/*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
	font-family: Verdana, Helvetica, Arial, sans-serif;
	
	color: #333333;	
}

h4 { font-size: 17px; }

h5 { font-size: 13px; margin: 10px 0px;}



.dialog h2 {
	padding: 0;
	margin: 0 0 10px 0;
	
}

.margin-t-b-10 {
	margin: 10px 0 10px 0;
}







