   html {
       position: relative;
       min-height:110%;
}
   body {
       font-family: 'Lobster', cursive;
       height: 100%;
       width: 100%;
       margin: 0 0 0 0;
       background-color: #f9f2ec;
}
   header {
       height: auto;
       width: 100%;
       position: absolute;
       top: 0;
       background-color: #adebdc;
       text-align: center;
}
   header a {
       display: inline-block;
       font-size: 150%;
       color: #4b4235;
       text-decoration: none;
       margin: 10px;
}
   sisalto {
       height: auto;
       width: 100%;
       position: absolute;
       top: 170px;
}
   footer {
       position: absolute;
       bottom: 0;
}
   h1 {
       color: #4b4235;
}
   h2 {
       width: 50%;
       margin-right: 25%;
       margin-left: 25%;
       padding-bottom: 20px;
       border-bottom: 1px solid #ff0000;
       color: #4b4235;
}
   p {
       padding-left: 25%;
       color: #4b4235;
}
img {
       max-width:100%;
       width:666px;
       height:auto;
       display: block;
       margin: auto;
       padding: 10px;
}
