body {
    background-color: #EEEEEE;
}
#body {
    background-color: #EEEEEE;
    padding: 0px;
}
#footer {
    background-color: #EEEEEE;
    color: #1D1D1D;
    clear:both;
    text-align: auto;
    margin: 0 auto;
    padding: 5px;
    font-family: verdana;
    font-size: 75%;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15px;
}
li {
    float: left;
    display: inline;
}
li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: #1D1D1D;
    text-decoration: none;
    font-family: verdana;
    font-size: 150%;
    transition: .5s background-color;
}
li a:hover {
    background-color: #8E8E8E;
    color: white;
}
li a:hover:not(.active) {
    background-color: #8E8E8E;
}
.active {
    background-color: #E1E1E1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEEEEE;
}
h1 {
    color: #1D1D1D;
    font-family: verdana;
    font-size: auto;
    text-align: center;
    padding: 10px;
}
p  {
    color: #1D1D1D;
    font-family: verdana;
    font-size: 150%;
    text-align: center;
    padding: 10px;
}
img {
    max-width:100%;
    width:666px;
    height:auto;
    display: block;
    margin: auto;
}
